# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.moved-aside
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Xcode build
build/
*.build/
